@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-bg text-zinc-100 antialiased;
}

.container-page {
  @apply mx-auto w-full max-w-7xl px-4 md:px-8;
}
